.main-faq .accordion
{
    width: 100%;
    background-color: transparent;
    font-size: 18px;
    font-weight: var(--font-weight-600);
}
.main-faq .accordion:hover
{
    color: var(--light-purple-clr);
}
.main-faq .faq
{
    margin: 0;
    padding: 24px 0;
    border-top: 1px solid var(--gray-clr);
    border-bottom: 1px solid var(--gray-clr);
}
.main-faq .panel p
{
    color: var(--pale-purple-clr);
    font-weight: var(--font-weight-400);
    font-size: 16px;
    margin-top: 24px;
}
.main-faq .faq-body span
{
    background-image: url(../../assets/images/icon-plus.svg);
    width: 30px;
    height: 30px;
}
.main-faq .faq-body span.active
{
    background-image: url(../../assets/images/icon-minus.svg);
}.main-faq .accordion
{
    width: 100%;
    background-color: transparent;
    font-size: 18px;
    font-weight: var(--font-weight-600);
}
.main-faq .accordion:hover
{
    color: var(--light-purple-clr);
}
.main-faq .faq
{
    margin: 0;
    padding: 24px 0;
    border-top: 1px solid var(--gray-clr);
    border-bottom: 1px solid var(--gray-clr);
}
.main-faq .panel p
{
    color: var(--pale-purple-clr);
    font-weight: var(--font-weight-400);
    font-size: 16px;
    margin-top: 24px;
}
.main-faq .faq-body span
{
    background-image: url(../../assets/images/icon-plus.svg);
    width: 30px;
    height: 30px;
}
.main-faq .faq-body span.active
{
    background-image: url(../../assets/images/icon-minus.svg);
}